html {
  height: 100%;
}
.corps {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.corps {position: relative;
  padding-bottom: 10rem;}
.enbas {position: absolute; bottom: 0;
width: 100%;
height: 10rem;}

.colorstylee{
   background-color: 	Plum;
}
.color{
   background-color:  MediumPurple;
}
